body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.wrapper {
    width: 90%;
    max-width: 1400px;
}
header {
    background: #333;
    padding: 10px 40px; /* Added padding for more space */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
header nav {
    display: flex;
    gap: 20px;
}
header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
header nav a:hover {
    color: #1e90ff;
}
.container {
    display: flex;
    width: 100%;
    min-height: 89vh;
    height: auto; /* Added to make the container full height of the viewport */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    flex-grow: 1;
}
.sidebar {
    width: 300px;
    background: #333;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #fff;
}
.sidebar h1 {
    font-size: 26px;
    margin: 10px 0;
}
.sidebar p {
    font-size: 16px;
    color: #ccc;
    margin: 10px 0;
}
.sidebar .social-icons {
    margin-top: 20px;
}
.sidebar .social-icons a {
    margin: 0 10px;
    color: #ccc;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}
.sidebar .social-icons a:hover {
    color: #1e90ff;
}
.content {
    flex: 1;
    background: #444;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    position: relative;
}
.content .section {
    background: #555;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s ease;
    cursor: pointer;
}
.content .section:hover {
    background: #666;
}
.content .section h2 {
    margin: 0;
    font-size: 22px;
}
.content .section-content {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
}
.content .section.active .section-content {
    max-height: 500px; /* Adjust as necessary */
    opacity: 1;
}
.project {
    margin-top: 10px;
}
.project h3 {
    margin: 5px 0;
}
.project p {
    margin: 5px 0;
    color: #ccc;
}
.project a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.project a:hover {
    color: #fff;
}
.sketch {
    font-family: monospace;
    margin-top: 20px;
    white-space: pre;
    line-height: 1.2;
    font-size: 12px;
    color: #ccc;
}
.center-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}
.center-buttons a {
    background: #1e90ff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s ease;
}
.center-buttons a:hover {
    background: #63b3ed;
}
.skill-card {
    background: #666;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid #3c3c3c;
}
.skill-card h3 {
    margin-top: 0;
}
.skill-card i {
    margin-right: 10px;
}

.under-construction .emoji {
    font-size: 48px;
    margin-left: 40%;
}